

.nav {
    background-color: #EAEBEF;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: row;

    &__three {
        margin-left: 40px;
    }

    &__wiki {
        font-size: 40px;
        color: #808185;
        margin-left: 40px;
    }
}

.sun {
    font-size: 50px;
    margin-left: 20px;
}

.sun2 {
    font-size: 30px;
    margin-left: 20px;
}